{% extends "general.html" %} {% block content %} {% comment %} {% if mytrips %}
{% endcomment %}
<ul>
  {% for trip in trips %}
  <fieldset>
    {% comment %}
    <li><a href="/trips/{{ trip.name|split_join }}/">{{ trip.name }}</a></li>
    {% endcomment %}
    <li><a href="/trips/{{ trip.slug }}/">{{ trip.title }}</a></li>

    <ul>
      <li><strong>place:</strong>{{trip.place}}</li>
      <li><strong>price:</strong>{{trip.price}}$</li>
      <li><strong>starting time:</strong> {{trip.starting_time}}</li>
      {% comment %}
      <li>description:{{trip.description}}</li>
      {% endcomment %}
      <li><strong>duration:</strong> {{trip.duration}} days</li>
      <li><strong>organized by:</strong> {{trip.user}}</li>

      {% comment %}
      <li>
        <img
          src="https://media.istockphoto.com/id/1450047072/fr/photo/femme-assise-sur-le-fond-du-lago-di-braies-en-hiver.webp?s=2048x2048&w=is&k=20&c=IGzgUpG46oORbQA5jiF6UNc9zaLD4HLGn1a_9Svl9_w="
          alt="travel img"
        />
      </li>
      {% endcomment %}
    </ul>
    <li><a href="/trip/{{ trip.slug }}/edit/">Edit this trip</a></li>
  </fieldset>
  {% endfor %}
</ul>
{% comment %} {% else %}
<p>No trips available.</p>
{% endif %} {% endcomment %} {% endblock %}
