<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}My travel website{% endblock %}</title>
  </head>

  <body>
    <div id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/">Home</a></li>
        {% if request.user.is_authenticated %}
        <li>
          <p><a href="{% url 'logout' %}">SignOut</a></p>
        </li>
        <li><a href="{{request.user.username}}">My profile</a></li>

        {% else %}
        <li>
          <p>
            You are not logged in.<a href="{% url 'user_login' %}">Log in</a>
          </p>
        </li>
        <li>
          <p><a href="{% url 'user_profiles' %}">All Trip organizers</a></p>
        </li>
        {% endif %}
      </ul>
      {% endblock %}
    </div>

    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</html>
